<div class="container">
  <h1>Dr.<%=@vet.name%> </h1>
  <p><%=@vet.school%>, <%=@vet.experience%> years</p>
  <h3>Appointments</h3>
  <table class="table">
    <tr>
      <th>Customer</th>
      <th>Pet</th>
      <th>Appointment Date / Time</th>
      <th></th>
    </tr>
    <% @vet.appointments.each do |appt| %>
      <tbody>
        <tr>
          <td>
            <%= appt.customer %>
          </td>
          <td>
            <%= appt.pet %>
          </td>
          <td>
            <%= appt.visit_on %>
          </td>
          <td>
            <%= link_to "Enter Pet Details", new_pet_path %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>
  <%= link_to 'Enter Pet Details', new_pet_path %>
  <%= link_to 'Edit', edit_vet_path(@vet) %>
  <%= link_to 'Back', vets_path %>
</div>