<p id="notice"><%= notice %></p>
<p>
  <strong>Vet:</strong>
  <%= @appointment.vet.name %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @appointment.customer %>
</p>

<p>
  <strong>Pet:</strong>
  <%= @appointment.pet %>
</p>

<p>
  <strong>Visit on:</strong>
  <%= @appointment.visit_on %>
</p>

<p>
  <strong>Remainder:</strong>
  <%= @appointment.reminder %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @appointment.reason %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
